
.center {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  z-index: -1;
}

.hat {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  bottom: 360px;
  left: 17px;

}

.glasses {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  bottom: 358px;
  left: 3px;
}